{% extends "cuentas/base_auth.html" %}
{% block titulo %}Cambiar contraseña{% endblock %}
{% block auth_icono %}password{% endblock %}
{% block auth_titulo %}Cambiar contraseña{% endblock %}

{% block auth_contenido %}
<form method="post" class="w-full">
  {% csrf_token %}
  {% include "partials/campos_form.html" with form=form %}
  <button type="submit" class="btn-primary w-full h-12 mt-2">Guardar contraseña</button>
  <a href="{% url 'core:inicio' %}" class="btn-secondary w-full mt-3">Cancelar</a>
</form>
{% endblock %}
